# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Models
models
*.json

# Distribution / packaging
dist/
build/
*.egg-info/

# Project specific
env/
venv/
.idea/
.vscode/
